@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
}
.page__content{
    padding: 10px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.page__layout{
    flex: 1 1 auto;
}
.container{
    max-width:375px;
    margin: 0 auto;
}
.introduce-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.introduce__logo__icon{
    height:80px;
    width: 80px;
}
.introduce__text{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.introduce__text-descr{
    font-size: 15px;
}
.introduce__text-title{
    font-weight: 800;
    font-size: 20px;
}
.introduce__text-owner{
    color: rgb(38, 6, 182);
}
.row{
    margin-top: 10px;
}
.row-wrapper{
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    font-size: 11px;
    font-weight: 500;
    align-items: center;
}
.item-1{
    display: flex;
    flex-direction: row;
    gap: 5px;
    border-right: 1px solid black;
    padding-right: 10px;
}
.row__icon-1{
    width: 13px;
    padding-top: 3px;
}
.row__icon-2{
    width: 13px;
}
.row__item{
    border-right: 1px solid black;
    padding-right: 7px;
    align-items: center;
    justify-content: center;
}
.row__item:last-child{
    border: none;
}
.changes{
    margin-top: 20px;
}
.changes__log{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.changes__log-title{
    letter-spacing: 0.1rem;
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
    border-left: 3px solid rgb(0, 21, 141);
    margin-bottom: 10px;
}
.changes__log-table{
    background-color: lightgrey;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
    font-weight: 300;
    margin-bottom: 20px;
}
.more{
    margin-top: 10px;
}
.more-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.more__title{
    letter-spacing: 0.1rem;
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
    border-left: 3px solid rgb(0, 21, 141);
    margin-bottom: 10px;
}
.more__descr{
    margin-top: 10px;
}
.more__img{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

#slider-section {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.slider-wrapper{
    position: relative;
}
.previous,
.next{
   padding: 2px; 
   width: 30px;
   cursor: pointer;
   border-radius: 50%;
   outline: none;
   transition: 0.7s ease-in-out;
   border: 3px solid white;
   background-color: #000;
   box-shadow: 0 0 5px #bbb;
   position: absolute;
   top:50%;
}
.previous{
    left: 2%;
}
.next{
    right: 2%;
}
.previous:hover,
.next:hover{
    border: 3px solid gray;
}
#controls i{
    color: white;
    font-size: 1rem;
}
.tns-nav{
    text-align: right;
}
.tns-nav button{
    border: none;
    padding: 8px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 15px;
}
.tns-nav .tns-nav-active{
    display: none;
}

.slide{
    width: auto;
    height: fit-content;
}

.slide img{
    width: 100%;
    height: 275px;
}
.rate__title{
    letter-spacing: 0.1rem;
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
    border-left: 3px solid rgb(0, 21, 141); 
}
.rate__img{
    display: flex;
    justify-content: center;
}
.star{
    width: 20px;
}
.rate__img-stars{
    display: flex;
    gap: 5px;
    margin-top: 10px;
}
.footer{
    position: sticky;
    bottom: 0;
    padding-top: 20px;
}
.download__button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    height: 50px;
    border-radius: 10px;
    text-decoration: none;
    color:#000;
    font-weight: 700;
    letter-spacing: 0.1em;
    
}

